<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
        </staticContent>
        <httpErrors errorMode="DetailedLocalOnly" />
    </system.webServer>
</configuration>